@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body{
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
}
.header{
    width: 1320px;
    height: 700px;
    background-image:linear-gradient(rgba(7,12,17,100),rgba(7,2,17,0)), url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
   border-radius: 16px;
    margin: 50px 140px;
    
    
}
/* Banner Style */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-box{
    text-align: center;
    margin: 140px 244px;
}

.banner-title{
    font-size: 72px;
    font-weight: 900px ;
    color: #FFFFFF;
}

.banner-subtitle{
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

/* New Year secton styles */

.new-year{
    height: 800px;
    width: 803px;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 70px 398px;
}
.new-year-container{
    height: 500px;
}
.new-year-title{
    font-size: 68px;
    font-weight: bold;
    color: #FF0000;
}
.new-year-description{
    font-size: 14px;
    font-weight: 500;
    color: #FF0000;
}
.new-year-subtitle{
    font-size: 28px;
    font-weight: bold;
}
.new-year-image{
    height: 500px;
}


/* Midnight Party styles */

.midnight-party{
    height: 600px;
    width: 1320px;
    border-radius: 16px;
    margin: 120px 140px;
    background-image:linear-gradient(rgba(7,2,17,100),rgba(7,2,17,0)) ,url(/images/Vectorrr.png);
}
.midnight-party-content{
    width: 642px;
    height: 176px;
    padding: 126px 552px 298px 126px ;
    
}

.midnight-party-title{
    font-size: 64px;
    font-weight: 900;
    color:#FFFFFF ;
}

.midnight-party-description{
    font-family: "Inter", sans-serif;
    font: size 18px; 
    color: #FFFFFF;
    opacity: 80%;
}
.midnight-party-btn{
    font-family: "Inter", sans-serif;
    font-size: 20;
    font-weight: bold;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
}

/* Card Style */

.card{
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    margin: 120px 140px;
    font-family: "Inter", sans-serif;
    text-align: center;
    background-color: burlywood;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-content{
    text-align: center;
}
.card-element{
     font-size: 32px;
     font-weight: 600;
     color: #070211;

}
.card-btn{
    width: 167px;
    height: 56px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #FF0000;
}

span{
    color: red;
}

/* Coming soon styles */

.coming-soon{
    width: 1320px;
    height: 463px;
    margin: 120px 140px;
    display: flex;
    justify-content: space-between;
    
    

}

.coming-soon-subtitle{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}

.coming-soon-title{
    font-size: 48px;
    font-weight: 900;
    color: #070211;
}

.coming-soon-descrpition{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color:rgba(7, 2, 17, 0.6);
    opacity: 60%;
}
.coming-soon-ellipse{
    border: 10px solid red;
    border-radius: 50%;
    padding: 28px;
}
.coming-soon-year{
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
}
.box-3-img{
    height: 140px;
    width: 140px;
}
.box-1{
    width: 393px;
    height: 255px;
    margin-right: 80px;
}
.box-3{
    margin-left: 50px;

}

/* Holiday sale styles */

.holiday-sale{
    width: 1320px;
    height: 986px;
    margin: 120px 140px;
  
    background-image: url(/images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    


}
.holiday-sale-content{
    width: 1068px;
    height: 260px;
    text-align: center;
}
.holiday-sale-subtitle{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color:#070211 ;
}
.holiday-sale-title{
    font-size: 72px;
    font-weight: 900;
    color: #070211;
}
.holiday-sale-description{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: grey;
}
.holiday-sale-img{
    display: flex;
}
.gift-box{
    display: flex;
}
.gift-box-content{
    width: 696px;
    height: 562px;
    margin-top: 150px;
    margin-left: -100px;
}
.discount{
    width: 305px;
    margin-top: 200px;
    margin-left: 200px;
    margin-bottom: 200px;
}
/* Portfolio styles */

.portfolio{
    width: 1320px;
    height: 1163px;
    margin: 120px 140px;
    
    
}

.portfolio-subtitle{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}
.portfolio-title{
    font-size: 48px;
    font-weight: 900;
}
.paragraph-container{
    width: 896px;
    height: 64px;
}
.portfolio-description{
    font-family: "Inter", sans-serif;
    font-size: 20;
    color: grey;
}
.img-container{
    gap: 5px;
}
.portfolio-img{
    width: 424px;
    height: 450px;
}

/* Footer style */

.footer{
    width: 1320px;
    height: 616px;
    margin: 120px 140px;
    border-radius: 16px;
    background-color: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-letter{
    width: 896px;
    height: 336px;
    margin: 80px 212px 200px 212px;
    text-align: center;
}
.news-letter-img{
    width: 150px;
    height: 150px;
}
.news-letter-title{
    font-size: 48px;
    font-weight: 900;
    color: #070211;
}
.news-letter-description{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: grey;
}
.news-letter > input{
    width: 648px;
    height: 56px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.news-letter-btn{
    width: 167px;
    height: 56px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #FF0000;
    border-top-right-radius: 50px  ;
    border-bottom-right-radius: 50px;
}
